<div class="update-password-container">
  <div class="card">
    <!-- Loading Spinner -->
    <nz-spin
      [nzSpinning]="isSpinning()"
      [nzTip]="'updatePassword.updating' | translate"
    >
      <!-- Form - NU afișa pentru utilizatorii Google -->
      <form
        *ngIf="!user()?.googleId"
        nz-form
        [formGroup]="updatePasswordForm"
        (ngSubmit)="updatePassword()"
        [nzLayout]="'vertical'"
      >
        <nz-form-item>
          <nz-form-label nzRequired>{{
            "updatePassword.currentPasswordLabel" | translate
          }}</nz-form-label>
          <nz-form-control [nzErrorTip]="currentPasswordErrorTpl">
            <div class="password-input-wrapper">
              <input
                nz-input
                [type]="currentPasswordVisible() ? 'text' : 'password'"
                formControlName="currentPassword"
                [placeholder]="
                  'updatePassword.currentPasswordPlaceholder' | translate
                "
                class="password-input"
              />
              <span
                nz-icon
                [nzType]="currentPasswordVisible() ? 'eye' : 'eye-invisible'"
                (click)="currentPasswordVisible.set(!currentPasswordVisible())"
                class="eye-icon"
              ></span>
            </div>
            <ng-template #currentPasswordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                {{ "updatePassword.currentPasswordRequired" | translate }}
              </ng-container>
              <ng-container
                *ngIf="
                  !control.hasError('required') && control.hasError('pattern')
                "
              >
                {{ "updatePassword.currentPasswordInvalid" | translate }}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired>{{
            "updatePassword.newPasswordLabel" | translate
          }}</nz-form-label>
          <nz-form-control
            [nzErrorTip]="newPasswordErrorTpl"
            [nzExtra]="
              !updatePasswordForm.get('newPassword')?.errors
                ? ('updatePassword.newPasswordHint' | translate)
                : ''
            "
          >
            <div class="password-input-wrapper">
              <input
                nz-input
                [type]="newPasswordVisible() ? 'text' : 'password'"
                formControlName="newPassword"
                [placeholder]="
                  'updatePassword.newPasswordPlaceholder' | translate
                "
                class="password-input"
              />
              <span
                nz-icon
                [nzType]="newPasswordVisible() ? 'eye' : 'eye-invisible'"
                (click)="newPasswordVisible.set(!newPasswordVisible())"
                class="eye-icon"
              ></span>
            </div>
            <ng-template #newPasswordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                {{ "updatePassword.newPasswordRequired" | translate }}
              </ng-container>
              <ng-container
                *ngIf="
                  !control.hasError('required') && control.hasError('pattern')
                "
              >
                {{ "updatePassword.newPasswordPattern" | translate }}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired>{{
            "updatePassword.confirmPasswordLabel" | translate
          }}</nz-form-label>
          <nz-form-control [nzErrorTip]="confirmPasswordErrorTpl">
            <div class="password-input-wrapper">
              <input
                nz-input
                [type]="confirmPasswordVisible() ? 'text' : 'password'"
                formControlName="confirmPassword"
                [placeholder]="
                  'updatePassword.confirmPasswordPlaceholder' | translate
                "
                class="password-input"
              />
              <span
                nz-icon
                [nzType]="confirmPasswordVisible() ? 'eye' : 'eye-invisible'"
                (click)="confirmPasswordVisible.set(!confirmPasswordVisible())"
                class="eye-icon"
              ></span>
            </div>
            <ng-template #confirmPasswordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                {{ "updatePassword.confirmPasswordRequired" | translate }}
              </ng-container>
              <ng-container
                *ngIf="
                  !control.hasError('required') &&
                  updatePasswordForm.hasError('passwordsMismatch')
                "
              >
                {{ "updatePassword.passwordsMismatch" | translate }}
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <a
              (click)="resetForgottenPassword()"
              class="forgot-password-link"
              >{{ "updatePassword.forgotPassword" | translate }}</a
            >
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <button
              nz-button
              nzType="primary"
              nzSize="large"
              type="submit"
              [disabled]="updatePasswordForm.invalid || isSpinning()"
              class="submit-button"
            >
              {{ "updatePassword.changeButton" | translate }}
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-spin>
  </div>
</div>
