<div class="products-container">
  <mat-card class="products-header-card">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>category</mat-icon>
      </div>
      <mat-card-title>{{ "viewProducts.title" | translate }}</mat-card-title>
      <mat-card-subtitle>{{
          "viewProducts.subtitle" | translate
        }}</mat-card-subtitle>
    </mat-card-header>
    <button mat-button routerLink="/admin/add-product"
            style="background-color: #6b46c1; color: white; align-content: flex-end; border-radius: 10px">
      <mat-icon>add</mat-icon>
      <span>Add Product</span>
    </button>
  </mat-card>
</div>
